{% extends 'index.html' %}

{% block title %}
Books | About us
{% endblock%}


{% block body %}
<div class="container text-dark mt-5">
    <h1>About Us</h1>
    <p>Welcome to our bookstore! We are passionate about providing a wide selection of books to our customers.</p>
    <p>Our mission is to promote reading and literacy by offering an extensive collection of books across various
        genres.</p>
    <p>Feel free to explore our website and discover your next favorite book!</p>
</div>

{% endblock %}