{% extends 'index.html' %}
{% load static %}

{% block title %} Update Book {% endblock %}

{% block body %}

<p class="lead">Update Book</p>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="mb-3 col-6">
            <label class="form-label" for="book_name">Name</label>
            <input class="form-control" name="name" id="book_name" type="text" value="{{ book.name }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="book_author">Author</label>
            <input class="form-control" name="author" id="book_author" type="text" value="{{ book.author }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="book_pages">Pages</label>
            <input class="form-control" name="pages" id="book_pages" type="number" value="{{ book.page_numbers }}">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label" for="book_price">Price</label>
            <input class="form-control" name="price" id="book_price" type="number" value="{{ book.price }}">
        </div>
        <div class="mb-3 col">
            <label class="form-label" for="current_image">Current Image</label>
            {% if book.image %}
            <img src="{{ book.image.url }}" width="75" alt="{{ book.name }}" class="img-fluid">
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>
        <div class="mb-3 col">
            <label class="form-label" for="book_image">New Image</label>
            <input class="form-control" name="image" id="book_image" type="file">
        </div>
    </div>
    <button class="btn btn-primary w-25" type="submit">Update</button>
</form>

{% endblock %}